/**
 * CSS styles for the HeroBanner component.
 * Using CSS Modules for localized styling.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-color-primary-darkest);
  color: #fff;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroBanner h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.heroBanner p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
